.pageHeaderWrapper {
    grid-area: pageHeaderWrapper;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid red; */
}

.uploadingMessageContainer {
    height: 80%;
    width: auto;
    /* border: 1px solid green; */
    /* background-color: salmon; */
    margin-right: 8%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.spinnerDiv {
    height: 100%;
    aspect-ratio: 1/2;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid blue; */
    margin-right: 8px;
}

.spinner {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid #9e77ed55; */
    height: 50%;
    aspect-ratio: 1/1;
}

.messageDiv {
    height: 100%;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
    padding-left: 0px;
    padding-right: 0px;

}

.messageDiv p {
    font-size: 0.8rem;
    font-family: var(--font-family);
    color: var(--font-color-primary);
    font-weight: 500;
}

.backBtn {
    background: transparent;
    /* border: 1px solid red; */
    height: 80%;
    width: auto;
    margin: 0;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 2%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.backBtIcon {
    font-size: 1.2rem;
}

.backBtn:hover {
    /* border: 1px solid cyan; */
}

@media only screen and (max-width: 600px) {

    .backBtn {
        background: transparent;
        /* border: 1px solid red; */
        height: 100%;
        width: auto;
        margin: 0;
        padding-left: 20px;
        padding-right: 20px;
        margin-left: 2%;
        cursor: pointer;
    }
}