.playerWrapper {
    grid-area: playerWrapper;
    width: 100%;
    height: 100%;
    /* border: 1px solid skyblue; */
    display: flex;
    justify-content: center;
    align-items: flex-start;

}

.playerContainer {
    position: relative;
    width: 80%;
    /* height: 60%; */
    aspect-ratio: 16/10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid blue; */
    margin-top: 5%;
    /* background-color: red; */
}


.videoWrapper {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgba(105, 90, 205, 0.118);  */
    /* background-color: salmon; */
}

.subtitleOverlay {
    position: absolute;
    width: auto;
    height: auto;
    background-color: rgba(255, 255, 255, 0.846);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 3px;
}

.subtitleOverlay p {
    font-family: 'Poppins';
    font-size: 0.8rem;
}

.playerVideoTag {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.titleWrapper {
    width: 100%;
    height: 20%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: skyblue;
}

.titleWrapper p {
    font-size: 0.8rem;
    font-family: 'Poppins';
    color: black;
    font-weight: 500;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .playerWrapper {
        grid-area: playerWrapper;
        width: 100%;
        height: 100%;
        /* border: 1px solid skyblue; */
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .playerContainer {
        width: 85%;
        aspect-ratio: 16/12;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        /* border: 1px solid blue; */
        margin-top: 0%;
    }

}