.uploadComponentWrapper {
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    /* border: 1px solid red; */
    flex-direction: column;
}

/* ------------------------------ */
.headerWrapper {
    width: 100%;
    height: 10%;
    /* border: 1px solid blue; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.backBtn {
    background: transparent;
    /* border: 1px solid red; */
    height: 80%;
    width: auto;
    margin: 0;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 2%;
    cursor: pointer;
}

.backBtIcon {
    font-size: 1.2rem;
}

.backBtn:hover {
    /* border: 1px solid cyan; */
}


.submitBtnContainer {
    position: relative;
    width: auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
    margin-right: 5%;
}

.submitBtn {
    aspect-ratio: 2/0.8;
    height: 50%;
    background-color: #B692F6;
    outline: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 25%; */
    border-radius: 8px;
    cursor: pointer;
    padding: 0;
    margin: 0;
}

.submitBtn p {
    font-family: 'Poppins';
    font-size: 0.8rem;
    color: white;
    margin-right: 10px;
    margin-left: 10px;
}


/* ---------------------------------- */

.uploadComponentInnerWrapper {
    position: relative;
    width: 100%;
    height: 90%;
    /* border: 1px solid salmon; */
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-rows: 100%;
    grid-template-columns: 50% 50%;
}






@media only screen and (max-width: 600px) {

    .headerWrapper {
        width: 100%;
        height: 5%;
        /* border: 1px solid red; */
    }

    .uploadComponentInnerWrapper {
        position: relative;
        width: 100%;
        height: 95%;
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-rows: auto minmax(0, 1fr);
        grid-template-columns: 100%;
    }


    .submitBtn {
        aspect-ratio: 2/0.8;
        height: 75%;
        background-color: #B692F6;
        outline: none;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        cursor: pointer;
        padding: 0;
        margin: 0;
    }


}