.listHeaderWrapper {
    width: 12%;
    height: 100%;
    /* border: 1px solid lightgreen; */
    padding-right: 0px;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    cursor: pointer;
}

.listHeaderWrapperExpand {
    width: 100%;
    height: 20%;
    /* border: 1px solid lightgreen; */
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    /* background-color: red; */
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    padding-bottom: 0%;
    cursor: pointer;

}

.textBox {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    /* border: 1px solid pink; */
    box-sizing: border-box;
    padding-left: 15px;
    padding-top: 8%;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

.textBoxExpand {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    /* border: 1px solid pink; */
    box-sizing: border-box;
    padding-left: 15px;
    padding-top: 1%;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

.listHeaderText1 {
    font-family: var(--font-family);
    color: white;
    font-size: 2rem;
}

.listHeaderText2 {
    font-family: var(--font-family);
    color: white;
    font-size: 1.5rem;
}

.listIndicatorDiv {
    width: 15%;
    height: 0.18rem;
    background-color: red;
    border-radius: 10px;
    margin-top: 5%;

}

.listIndicatorDivExpand {
    width: 2%;
    height: 0.18rem;
    background-color: red;
    border-radius: 10px;
    margin-top: 1%;
}