.videoWrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    aspect-ratio: 4/2.8;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /* background-color: #e9d7fe76; */
    padding: 3px;
    border-radius: 8px;
    /* background-color: red; */
    overflow: hidden;
}

.shimmerWrapper {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 3;
    overflow: hidden;
    animation: loading 1.55s infinite;
    /* border: 1px solid red; */
}

.shimmer {
    position: relative;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #e9d7fe76 44.18%, #e7effc75 129.07%);
    border-radius: 3px;
    background-repeat: no-repeat;

}

@keyframes loading {
    0% {
        transform: translateX(-150%);
    }

    50% {
        transform: translateX(-60%);
    }

    100% {
        transform: translateX(150%);
    }
}


@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .videoWrapper {
        width: 85%;
        aspect-ratio: 4/2.4;
        margin-left: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 3px;
    }
}