.videoWrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    /* aspect-ratio: 4/2.8; */
    height: auto;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #e9d7fe76;
    padding: 3px;
    border-radius: 8px;
    border: 1px solid #d6bbfb73;
}

.videoInnerWrapper {
    width: 100%;
    height: auto;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-radius: 7px; */
    border-radius: inherit;
    /* Inherit border-radius from the parent (outer) div */
    overflow: hidden;
    cursor: pointer;
    flex-direction: column;
}

.videoTag {
    width: 100%;
    /* height: 90%; */
    aspect-ratio: 4/2.5;
    object-fit: fill;

}

.videoTitleDiv {
    height: 30px;
    width: 100%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.videoTitleDiv p {
    font-family: var(--font-family);
    font-size: 0.7rem;
    color: black;
    margin-left: 2%;
    font-weight: 500;
}


@media only screen and (min-width: 601px) and (max-width: 900px) {

    .videoWrapper {
        width: 45%;
        margin-left: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 3px;
    }
}

@media only screen and (max-width: 600px) {
    .videoWrapper {
        width: 40%;
        margin-left: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 3px;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {


    .videoWrapper {
        width: 85%;
        aspect-ratio: unset;
        height: auto;
        margin-left: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 5px;
    }

    .videoInnerWrapper {
        width: 100%;
        height: auto;
        /* border: 1px solid red; */
        display: flex;
        justify-content: center;
        align-items: center;
        /* border-radius: 7px; */
        overflow: hidden;
        cursor: pointer;
        flex-direction: column;
    }

    .videoTag {
        width: 100%;
        height: unset;
        aspect-ratio: 4/2.8;
        object-fit: fill;
    }


    .videoTitleDiv {
        height: 30px;
        width: 100%;
        /* border: 1px solid red; */
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
}