.playerWrapper {
    width: 100%;
    height: 70%;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: skyblue; */
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

.playerWrapperShrink {
    width: 100%;
    height: 0%;
    /* border: 1px solid white; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: skyblue; */
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

.videoTag {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

::cue {
    color: white;
}